﻿@model DBK.Models.Паспорт

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Паспорт</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Человек.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Человек.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Серия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Серия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Номер)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Номер)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.КемВыдан)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.КемВыдан)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
