﻿@model IEnumerable<DBK.Models.Паспорт>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.Cookies["logged_as"]?.Value != "User")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Человек.Фамилия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Серия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Номер)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.КемВыдан)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Человек.Фамилия)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Серия)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Номер)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.КемВыдан)
            </td>
            <td>
                @if (Request.Cookies["logged_as"]?.Value != "User")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.id });
                    @: |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id });
                    @: |
                }
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
    }

</table>
