﻿@model DBK.Models.Человек

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Человек</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Владелец.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Владелец.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Сотрудник.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сотрудник.Должность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Отчество)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Отчество)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Телефон)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Телефон)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пол)
        </dt>

        <dd>
            @(Model.Пол ? "Мужчина" : "Женщина")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.СП)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.СП)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
