﻿@model IEnumerable<DBK.Models.Антиквариат>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("IndexFilterPlaceAge", "Антиквариат", FormMethod.Post))
{
    <input name="place" placeholder="place">
    <input name="age" placeholder="age">
    <input type="submit" />
}



@if (Request.Cookies["logged_as"]?.Value != "ProductOwner")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Товар.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.СколькоЛет)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Происхождение)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Товар.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СколькоЛет)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Происхождение)
            </td>
            <td>
                @if (Request.Cookies["logged_as"]?.Value != "ProductOwner")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.id });
                    @: |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id });
                    @: |
                }
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
    }

</table>
