﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @if (Request.Cookies["logged_as"].Value != "ProductOwner")
        {
            <li>@Html.ActionLink("Человек", "Index", "Человек")</li>
            <li>@Html.ActionLink("Паспорт", "Index", "Паспорт")</li>

            <li>@Html.ActionLink("Сотрудник", "Index", "Сотрудник")</li>
            <li>@Html.ActionLink("Владелец", "Index", "Владелец")</li>

            <li>@Html.ActionLink("Магазин", "Index", "Магазин")</li>
            <li>@Html.ActionLink("Охрана", "Index", "Охрана")</li>

            <li>@Html.ActionLink("Продажа", "Index", "Продажа")</li>
        }

        <li>@Html.ActionLink("Товар", "Index", "Товар")</li>
        <li>@Html.ActionLink("Антиквариат", "Index", "Антиквариат")</li>
        <li>@Html.ActionLink("Одежда", "Index", "Одежда")</li>
        <li>@Html.ActionLink("Электроника", "Index", "Электроника")</li>
        <li>@Html.ActionLink("Другое", "Index", "Другое")</li>
    </ul>
</div>
