﻿@{
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title.</h2>

@if (Request.Cookies["logged_as"] == null)
{
    <ul>
        <li>@Html.ActionLink("Я Admin", "LoginAsAdmin", "Home")</li>
        <li>@Html.ActionLink("Я User", "LoginAsUser", "Home")</li>
        <li>@Html.ActionLink("Я ProductOwner", "LoginAsProductOwner", "Home")</li>
    </ul>
}
else
{
    <p>Вы вошли как @Request.Cookies["logged_as"].Value</p>
    @Html.ActionLink("Выйти", "Logout", "Home");
}
