﻿@model DBK.Models.Магазин

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Магазин</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Рейтинг)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Рейтинг)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Плата_за_аренду)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Плата_за_аренду)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.УставнойКапитал)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.УставнойКапитал)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
