﻿@model DBK.Models.Охрана

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Охрана</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Магазин.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Магазин.Адрес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.тип)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.тип)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.надежность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.надежность)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
