﻿@model IEnumerable<DBK.Models.Охрана>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.Cookies["logged_as"]?.Value != "User")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Магазин.Адрес)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.тип)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.надежность)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Магазин.Адрес)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.тип)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.надежность)
    </td>
    <td>
        @if (Request.Cookies["logged_as"]?.Value != "User")
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.id });
            @: |
            @Html.ActionLink("Delete", "Delete", new { id = item.id });
            @: |
        }
        @Html.ActionLink("Details", "Details", new { id = item.id })
    </td>
</tr>
    }

</table>
