﻿@model IEnumerable<DBK.Models.Одежда>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.Cookies["logged_as"]?.Value != "ProductOwner")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Товар.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Размер)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Цвет)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Материал)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Товар.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Размер)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Цвет)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Материал)
            </td>
            <td>
                @if (Request.Cookies["logged_as"]?.Value != "ProductOwner")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.id });
                    @: |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id });
                    @: |
                }
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
    }

</table>
