﻿@model IEnumerable<DBK.Models.Электроника>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("IndexFilterManufacVolt", "Электроника", FormMethod.Post))
{
    <input name="Вольтаж" placeholder="Вольтаж">
    <input name="Производитель" placeholder="Производитель">
    <input type="submit" />
}


@if (Request.Cookies["logged_as"]?.Value != "ProductOwner")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Товар.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Вольтаж)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Производитель)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Модель)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Товар.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Вольтаж)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Производитель)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Модель)
            </td>
            <td>
                @if (Request.Cookies["logged_as"]?.Value != "ProductOwner")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.id });
                    @: |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id });
                    @: |
                }
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
    }

</table>
