﻿@model DBK.Models.Товар

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Товар</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Антиквариат.Происхождение)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Антиквариат.Происхождение)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Владелец.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Владелец.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Другое.СвойТип)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Другое.СвойТип)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Одежда.Размер)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Одежда.Размер)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Электроника.Производитель)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Электроника.Производитель)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Цена)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Цена)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Описание)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Описание)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Состояние)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Состояние)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ДатаСдачи)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ДатаСдачи)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ПроцентМагазина)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ПроцентМагазина)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ВыкупаетЛиМагазин)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ВыкупаетЛиМагазин)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
