﻿@model IEnumerable<DBK.Models.Товар>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("IndexFindId", "Товар", FormMethod.Post))
{
    <input name="product_id" placeholder="product ID">
    <input type="submit" />
}

@if (Request.Cookies["logged_as"]?.Value != "ProductOwner")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Антиквариат.Происхождение)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Владелец.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Другое.СвойТип)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Одежда.Размер)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Электроника.Производитель)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Название)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Цена)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Описание)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Состояние)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ДатаСдачи)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ПроцентМагазина)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ВыкупаетЛиМагазин)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Антиквариат.Происхождение)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Владелец.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Другое.СвойТип)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Одежда.Размер)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Электроника.Производитель)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Цена)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Описание)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Состояние)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДатаСдачи)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ПроцентМагазина)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ВыкупаетЛиМагазин)
            </td>
            <td>
                @if (Request.Cookies["logged_as"]?.Value != "ProductOwner")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.id });
                    @: |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id });
                    @: |
                }
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
    }

</table>
