﻿@model DBK.Models.Сотрудник

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Магазин.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Магазин.Адрес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Человек.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Человек.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Зарплата)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Зарплата)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ПринятНаРаботу)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ПринятНаРаботу)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Должность)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
